a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-size: 30px;
  color: #dc8cf0;
  font-family: monospace;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a.navbar-brand:hover {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-size: 30px;
  color: #dc8cf0;
  font-family: monospace;
  font-weight: bold;
  text-shadow: -0.75px 0 black, 0 1.25px black, 1.25px 0 black, 0 -0.75px black;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navcolour {
  background-color: #fbed54 !important;
}
